<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:href="@{/styles/css/bootstrap.min.css}" rel="stylesheet">

    <!--  Custom CSS  -->
    <link th:href="@{/styles/styles.css}" rel="stylesheet">


    <title>Miracle Chukwuma</title>
</head>
<body>

<div style="border: 5px solid #f1f1f1;" class="bg-image"></div>

<div class="bg-text">
    <h1 style="font-size:50px; color: whitesmoke">Hi am Miracle Chukwuma</h1>
    <h3 style="color: whitesmoke">And I'm <span class="type"></span></h3>
</div>

<hr>
<br>
<div class="container">
    <div class="jumbotron">
        <h2 style="padding-bottom: 0" class="text-center">PROFILE</h2>
        <hr>
        <p>
            Hardworking student with a high level of analytical and decision-making skills. A good team player and
            great leader, always seeks to develop others. Humble and dedicated to success. Believe that learning is
            for a lifetime and always delighted to learn new things.
        </p>
    </div>


    <br>
    <div class="jumbotron">
        <h2 style="padding-bottom: 0" class="text-center">WORK EXPERIENCE</h2>
        <hr>
        <p><span class="dot"></span> Outdoor Catering.</p>
        <p><span class="dot"></span> Spent 12+ months as an apprentice learning the trade of electrical installation.
        </p>
        <p><span class="dot"></span> Completed the electrical installation of a two two-bedroom apartment building.</p>
        <p><span class="dot"></span> Currently working on the electrical installation two buildings.</p>
        <p><span class="dot"></span> Currently serving as the president of 'CMD' team of developers.</p>
        <p><span class="dot"></span> Contributed in the development of a recording tracking software for my team of
            developers.</p>

    </div>
    <br>
    <div class="jumbotron">
        <h2 style="padding-bottom: 0" class="text-center">EDUCATION</h2>
        <hr>
        <p><span class="dot"></span> 400L undergraduate student, Electrical Engineering department, Nnamdi Azikiwe
            University Awka.</p>
        <p><span class="dot"></span> Command Day Secondary School Enugu</p>
    </div>
    <br>
    <div class="jumbotron">
        <h2 style="padding-bottom: 0" class="text-center">CERTIFICATION AND TRAINING</h2>
        <hr>
        <p><span class="dot"></span> IEEE xtreme 14.0 programming competition</p>
        <p><span class="dot"></span> Jobberman Soft-Skills Training</p>
        <p><span class="dot"></span> Bright Network's Internship Experience UK: Technology</p>
        <p><span class="dot"></span> ICSI | CNSS Certified Network Security Specialist</p>
    </div>
    <br>
    <div class="jumbotron">
        <h2 style="padding-bottom: 0" class="text-center">PROFESSIONAL MEMBERSHIPS</h2>
        <hr>
        <p><span class="dot"></span> International student member IEEE</p>
        <p><span class="dot"></span> International student member Society Of Petroleum Engineering</p>
    </div>
    <br>
    <div class="jumbotron">
        <h2 style="padding-bottom: 0" class="text-center">SKILLS</h2>
        <hr>
        <p><span class="dot"></span> Electrical Installation and Maintenance</p>
        <div>
            <h6>Software Development</h6>
            <hr style="width: 30%">
        </div>
        <p><span class="dot"></span> Core Java and JavaFx for desktop application development</p>
        <p><span class="dot"></span> Spring framework for serverside development and full stack Using Thymeleaf</p>
        <p><span class="dot"></span> Angular for consuming REST APIs</p>
        <p><span class="dot"></span> SQL -> MySQL, SQLite, H2 Database...</p>
        <p><span class="dot"></span> Kotlin -> Android</p>
        <p><span class="dot"></span> HTML</p>
        <p><span class="dot"></span> CSS</p>
        <p><span class="dot"></span> Git and GitHub</p>
    </div>
    <br>
    <div class="jumbotron">
        <h2 style="padding-bottom: 0" class="text-center">Contact</h2>
        <hr>
        <p>Click this Icon <a href="https://www.linkedin.com/in/chukwuma-miracle-8149a3193" target="_blank">
            <img src="../static/images/linkedin.png" th:src="@{/images/linkedin.png}" alt="LinkedIn logo" width="20" height="20">
        </a> to view my LinkedIn profile
        </p>
        <p>Or better still you can leave me a message below.</p>
    </div>

    <div class="jumbotron">
        <form id="my-contact" action="#" th:action="@{/received}" method="post" th:object="${respondent}">
            <div class="row mb-3">
                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input th:field="*{name}" type="text" class="form-control" id="inputName">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input th:field="*{email}" type="email" class="form-control" id="inputEmail3">
                    <p>Please ensure that this email is correct.</p>
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputSubject" class="col-sm-2 col-form-label">Subject</label>
                <div class="col-sm-10">
                    <input th:field="*{subject}" type="text" class="form-control" id="inputSubject">
                </div>
            </div>
            <div class="form-floating">
                <textarea th:field="*{body}" class="form-control" placeholder="Your message" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Message</label>
            </div>
            <br>

            <div class="form-check">
                <input th:field="*{wantFile}" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Would you like the pdf version of my CV?
                </label>
            </div>
            <br>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <a href="https://internship.zuri.team" target="_blank">
                <img class="img-thumbnail" src="../static/images/brand-logo.png" th:src="@{/images/brand-logo.png}" alt="HNG logo">
            </a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>




<!-- Option 1: Bootstrap Bundle with Popper -->
<script th:src="@{/scripts/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/scripts/typed.js}"></script>
<script th:inline="javascript">
    var typed = new Typed('.type', {
        strings: ["a Software Developer.", "an Electrical Engineering Undergraduate.",
            "an Electrician."],
        typeSpeed: 60,
        backSpeed: 60,
        loop: true
    });
    document.querySelector('input').value = '';
    document.querySelector('textarea').innerHTML = '';
</script>
</body>
</html>